<article>
	<h1>{{ contact }}</h1>
	<p class="art">wendylaurala@gmail.com</p>

<!-- 	<form autocomplete="on" name="signupForm" ng-submit="submitForm()" novalidate>
		<div ng-class="{'inactive' : emailSuccess}">
			<label class="caption" id="">First Name</label>
			<input x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" ng-model="contactInfo.firstName">

			<label class="caption">Last Name</label>
			<input x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" ng-model="contactInfo.lastName">

			<label class="title" for="email2-field">Email Address <span class="required">*</span></label>
			<input type="email" placeholder="Enter your email" class="form__input" value="" ng-model="contactInfo.email" required>

			<label class="title" for="textarea4-field">Message <span class="required">*</span></label>
			<textarea class="field-element " id="textarea4-field" ng-model="contactInfo.mesage"></textarea>

			<button type="submit" class="form__button" ng-disabled="signupForm.$invalid">Submit</button>
		</div>
		<h2 class="form__messaging" ng-class="{'is-active' : emailSuccess}">Thank you!</h2>
	</form> -->
</article>

