.animation--title-slide-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-name: slide-up;
  animation-name: slide-up;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
.trans {
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

h1 {
  font-size: 8em;
  margin-top: 0;
  line-height: 1; }
  h1 em {
    font-style: normal; }
  h1 span {
    display: block;
    font-size: 27%;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-top: 0.2em; }
  .sans-serif h1 {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 7.6em; }
    .sans-serif h1 span {
      padding-left: 0.2em; }
  .serif h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700; }
    .serif h1 span {
      padding-top: 0.5em; }

h2 {
  font-size: 5em;
  letter-spacing: 0px;
  text-align: center; }
  .sans-serif h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    margin: 0.43em; }
  .serif h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #34495e;
    line-height: 1.2; }

h3 {
  font-size: 3em;
  margin: 0; }
  .sans-serif h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #333; }
  .serif h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #34495e; }
  h3.alt {
    color: #fff; }

h4 {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 10px; }
  .sans-serif h4 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #333; }
  .serif h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #34495e; }

p {
  font-size: 1.5em;
  color: #333;
  line-height: 1.5;
  text-align: left; }
  .sans-serif p {
    font-family: 'Lato', Helvetica, Arial, sans-serif; }
  .serif p {
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif; }
  .sans-serif p a {
    color: #ff7252; }
    .sans-serif p a:hover {
      color: #ff3306;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
  .serif p a {
    color: #46637f; }
    .serif p a:hover {
      color: #2b3c4e;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
  p.alt {
    color: #fff;
    font-size: 20px;
    margin: 0; }
  @media screen and (max-width: 800px) {
    p {
      font-size: 1.2em; } }

.main-container {
  background-color: #dfe3e3;
  overflow: hidden;
  margin: 0;
  padding-top: 83px;
  position: relative; }

.nav-container {
  background-color: #fff;
  overflow: hidden;
  height: 83px;
  padding-right: 35px;
  padding-left: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s; }

.logo {
  float: right;
  width: 100px;
  height: auto;
  padding-top: 16px; }
  .logo img {
    width: 100%; }

.nav-content-container {
  float: left;
  list-style: none;
  margin: 30px 0;
  padding: 0; }
  .nav-content-container a {
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 20px; }

.nav-content {
  float: left;
  margin-left: 20px; }
  .nav-content:first-child {
    margin-left: 0; }

.work-grid {
  margin: 0; }

.work-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;
  height: 30vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  /* IE10/11 */
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -ms-flex-pack: center;
  /* IE10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }
  .work-content:before {
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .work-content:hover .work-description {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.work-description {
  color: #fff;
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  /* 2 */
  -ms-text-size-adjust: 1em; }

html, body {
  margin: 0; }

img {
  border: none; }

body {
  background-color: #ffffff;
  color: #000;
  position: relative; }
  @media screen and (max-width: 800px) {
    body {
      margin: 0;
      width: 100%; } }

a {
  color: #333;
  text-decoration: none; }

*[contenteditable], button {
  outline: none; }

address {
  font-style: normal; }

.inactive {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 40%, 0);
  transform: translate3d(0, 40%, 0);
  -webkit-transition-property: all;
  transition-property: all; }

.is-active {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-property: all;
  transition-property: all; }

.fourohfour {
  background-image: url(/images/404.gif);
  background-repeat: no-repeat;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
