.about {
	padding-top: 60px;
}

.about__profile {
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	@include box-shadow(0 1px 4px 0 rgba(0,0,0,0.37));
}

@media screen and (max-width: $lap) {
	.about {
		padding-top: 30px;
	}
}
