.main-container {
	background-color: $c-bg-grey;
	overflow: hidden;
	margin: 0;
	position: relative;
}


// mobiles sizes
@media screen and (max-width: $lap) {

}

@media screen and (max-width: $palm-land) {
}
