h1,
h2,
h4,
h5,
h6 {
    text-transform: initial;
    font-family: 'Cabin', sans-serif;
}

h1 {	
	font-size: 50px;
	margin-top: 0;
	line-height: 1;
}

h2 {
	font-size: 20px;
	letter-spacing: 0px;
	text-align: center;
}

h3 {

}

h4 {

}

p {
	font-family: 'Playfair Display', serif;
	font-size: 16;
	color: $c-light-black;
	line-height: 1.5;

	a {
		color: $c-blue;

		&:hover {
			@include rollover($c-blue);
		}
	}

	@media screen and (max-width: $palm-land) {
		font-size: 1.2em;
	}
}

a {
	color: $c-blue;

	&:hover {
		@include rollover($c-blue);
	}
}
