// Dimensions
$window-height: 100vh;
$window-width: 100vw;
$header-side-padding: 15%;
$lap: 1024px;
$lap-small: 960px;
$palm-land: 800px; //iphone 6+ and down
$palm-port: 414px; //iphone 6+ and down
$border-width: 30px;
$border-width-lap: 15px;

// colors
$c-white: #fff;
$c-black: #000;
$c-light-black: #333;
$c-bg-grey: #dfe3e3;
$c-blue: #34495e;
$c-links: $c-blue;
$c-teal: #567076;
$c-orange: #ff481f;

