// Dimensions
$window-height: 100vh;
$window-width: 100vw;
$header-height: 83px;
$nav-padding: 35px;
$lap: 1024px;
$lap-small: 960px;
$palm-land: 800px; //iphone 6+ and down
$palm-port: 414px; //iphone 6+ and down
$border-width: 30px;
$border-width-lap: 15px;

// colors
$c-white: #fff;
$c-black: #000;
$c-light-black: #333;
$c-bg-grey: #dfe3e3;
$c-blue: #41c6ea;
$c-teal: #28bdb3;
$c-green: #40ae49;
$c-red: #ee2c3e;
