body {
    font-size: 100%;
   font-family: 'Playfair Display', serif;
}

h1,
h2,
h5,
h6 {
    text-transform: initial;
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.mast-head-headline {
    font-size: 50px;
}

h2 {
    color: #ee5533;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

.work-description h4 {
    position: relative;
    z-index: 5;
}

h4 i {
    font-size: 14px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}

p,
figcaption {
    font-size: 14px;
    line-height: 26px;
}

p.alt {
    color: white;    
}

p.art {
    font-size: 20px;
}

.caption {
    font-size: 12px;
}
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .mast-head-headline  {
        font-size: 50px;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .mast-head-headline  {
        font-size: 80px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .mast-head-headline  {
        font-size: 120px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}