.animation--title-slide-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-name: slide-up;
  animation-name: slide-up;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
.trans {
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

h1,
h2,
h4,
h5,
h6 {
  text-transform: initial;
  font-family: 'Cabin', sans-serif; }

h1 {
  font-size: 8em;
  margin-top: 0;
  line-height: 1; }

h2 {
  font-size: 5em;
  letter-spacing: 0px;
  text-align: center; }

p {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  color: #333;
  line-height: 1.5; }
  p a {
    color: #41c6ea; }
    p a:hover {
      color: #1490b1;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
  @media screen and (max-width: 800px) {
    p {
      font-size: 1.2em; } }

a {
  color: #41c6ea; }
  a:hover {
    color: #1490b1;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }

.main-container {
  overflow: hidden;
  margin: 0;
  padding-top: 83px;
  position: relative; }

.about {
  padding-right: 35px;
  padding-left: 35px; }

.nav-container {
  background-color: #fff;
  overflow: hidden;
  height: 83px;
  padding-right: 35px;
  padding-left: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s; }

.logo {
  float: right;
  width: 100px;
  height: auto;
  padding-top: 16px; }
  .logo img {
    width: 100%; }

.nav-content-container {
  float: left;
  list-style: none;
  margin: 30px 0;
  padding: 0; }
  .nav-content-container a {
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 20px; }

.nav-content {
  float: left;
  margin-left: 20px; }
  .nav-content:first-child {
    margin-left: 0; }

.hero {
  background-color: #41c6ea;
  color: white;
  padding: 8% 0;
  text-align: center; }

.work-grid {
  margin: 0;
  position: relative;
  z-index: 2; }

.work-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;
  height: 35vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  /* IE10/11 */
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -ms-flex-pack: center;
  /* IE10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }
  .work-content:before {
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .work-content:hover .work-description {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.work-description {
  color: #fff;
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s; }

@media screen and (max-width: 800px) {
  .work-content {
    height: 45vh; } }
.work-meta {
  position: fixed;
  -webkit-backface-visibility: hidden;
  width: 275px;
  float: left;
  padding: 0 35px 47px 32px;
  z-index: 0; }

.work-gallery {
  margin: 0 135px 50px 375px;
  max-width: 925px;
  min-width: 275px; }
  .work-gallery img {
    width: 100%; }

@media screen and (max-width: 800px) {
  .work-meta {
    position: relative;
    width: 100%; }

  .work-gallery {
    margin: 0; } }
.contact {
  background-color: #28bdb3;
  color: white;
  height: calc(100vh - 83px);
  padding-top: 8%;
  text-align: center; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  /* 2 */
  -ms-text-size-adjust: 1em; }

html, body {
  margin: 0; }

img {
  border: none; }

body {
  background-color: #dfe3e3;
  color: #000;
  position: relative; }
  @media screen and (max-width: 800px) {
    body {
      margin: 0;
      width: 100%; } }

a {
  text-decoration: none; }

*[contenteditable], button {
  outline: none; }

address {
  font-style: normal; }

.inactive {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 40%, 0);
  transform: translate3d(0, 40%, 0);
  -webkit-transition-property: all;
  transition-property: all; }

.is-active {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-property: all;
  transition-property: all; }

.fourohfour {
  background-image: url(/images/404.gif);
  background-repeat: no-repeat;
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
