.work-meta {
	position: fixed;
	-webkit-backface-visibility: hidden;
	width: 300px;
	padding: 0 35px 45px 32px;
	z-index: 0;
}

.work-gallery {
	margin: 60px 135px 100px 375px;
	max-width: 925px;
	min-width: 275px;
}

.work-gallery__item {
	margin-left: 0;
	margin-right: 0;

	figcaption {
		margin-left: $nav-padding;
		margin-right: $nav-padding;
	}
}

.work-gallery__img {
	width: 100%;
	@include box-shadow(0 1px 4px 0 rgba(0,0,0,0.37));
}

.work-nav {
	position: fixed;
	-webkit-backface-visibility: hidden;
	width: 140px;
	padding: 0 $nav-padding 45px $nav-padding;
	top: 143px;
	right: 0;
	z-index: 0;
}

@media screen and (max-width: $lap) {
	.work-meta {
		margin-top: 60px;
		position: relative;
		width: 100%;
	}

	.work-gallery {
		margin: 0 0 100px 0;
		max-width: none;
	}
}
